site_name: "Chem & Materials AI Resources"
site_url: "https://aichemy-hub.github.io/chem-ai-resources/"
repo_url: "https://github.com/aichemy-hub/chem-ai-resources"

theme:
  name: material
  features:
    - navigation.sections
    - navigation.instant
    - search.suggest
    - search.highlight

plugins:
  - search
  - macros

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Online Textbooks: textbooks.md
  - Courses & Course Materials: courses.md
  - Tutorials & Tutorial Notebooks: tutorials.md
  - Software & Python packages: software.md
  - Datasets & Dataset Collections: datasets.md
  - Quick links (table): table.md
  - All resources: resources.md
  - Contributing: contributing.md